[submodule "dependencies/qpc"]
	path = dependencies/qpc
	url = https://github.com/QuantumLeaps/qpc.git
	branch = master
[submodule "dependencies/libcanard"]
	path = dependencies/libcanard
	url = https://github.com/adolfogc/libcanard.git
	branch = master
