[submodule "dependencies/qpc"]
	path = dependencies/qpc
	url = https://github.com/QuantumLeaps/qpc.git
	branch = master
[submodule "dependencies/libcanard"]
	path = dependencies/libcanard
	url = https://github.com/adolfogc/libcanard.git
	branch = master
[submodule "dependencies/dsdl"]
	path = dependencies/dsdl
	url = https://github.com/UAVCAN/dsdl.git
[submodule "dependencies/arm_cmsis5"]
	path = dependencies/arm_cmsis5
	url = https://github.com/ARM-software/CMSIS_5.git
