[submodule "dependencies/libopencm3"]
	path = dependencies/libopencm3
	url = https://github.com/adolfogc/libopencm3.git
[submodule "dependencies/qpc"]
	path = dependencies/qpc
	url = https://github.com/QuantumLeaps/qpc.git
[submodule "dependencies/libcanard"]
	path = dependencies/libcanard
	url = https://github.com/adolfogc/libcanard.git
